:root {
    --main-background-color: #004B84;
    --main-container-color: #79C9FA;

    /* PROFILE 1 - Frontend Develoepr */
    --profile1-main-background-color: #F974A6;
    --profile1-secondary-background-color: #FFA5C6;
    --profile1-foreground-color: #FEFEFE;
}