:root {
  --page-padding: 2rem;
  --containers-padding: 1.5rem;


  --breakpoint-xxs-min: 0px;
  --breakpoint-xxs-max: 319px;

  --breakpoint-xs-min: 320px;
  --breakpoint-xs-max: 375px;

  --breakpoint-sm-min: 376px;
  --breakpoint-sm-max: 479px;

  --breakpoint-md-sm-min: 480px;
  --breakpoint-md-sm-max: 575px;

  --breakpoint-md-min: 576px;
  --breakpoint-md-max: 767px;

  --breakpoint-md-lg-min: 768px;
  --breakpoint-md-lg-max: 1024px;

  --breakpoint-lg-min: 1025px;
  --breakpoint-lg-max: 1199px;

  --breakpoint-xl-min: 1200px;
  --breakpoint-xl-max: 1439px;

  --breakpoint-xxl-min: 1440px;
  --breakpoint-xxl-max: 1999px;

  --breakpoint-xxxl-min: 2000px;
  --breakpoint-xxxl-max: 2999px;

  --breakpoint-xxxxl-min: 3000px;
  --breakpoint-xxxxl-max: 3999px;

  --breakpoint-xxxxxl-min: 4000px;
  --breakpoint-xxxxxl-max: 4999px;

  --breakpoint-xxxxxxl-min: 5000px;

  @media (min-width: 576px) {
    --page-padding: 4rem;
  }

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1200px) {
    --page-padding: 3rem;
    --containers-padding: 2rem;
  }

  @media (min-width: 1400px) {
    --page-padding: 4rem;
  }

  @media (min-width: 2000px) {
    --page-padding: 7.5rem;
  }

  @media (min-width: 3000px) {
    --page-padding: 10rem;
  }

  @media (min-width: 4000px) {
    --page-padding: 15rem;
  }
}