.books-container {
    background-color: #2782B8;
    color: var(--main-foreground-color);
    width: 100vw;
    height: 100vh;
}

.books-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}