.donate-header-container {
    background-image: url("/src/styles/images/make-a-wish.png");
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.donate-header-content-container {
    flex-grow: 1;
    text-align: center;
}

.donate-element {
    margin-bottom: 3vh;
    font-size: 3rem;
    text-align: center;
}