.donate-header-container {
    background-image: url("/src/styles/images/library-large.png");
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.donate-header-content-container {
    flex-grow: 1;
}

.donate-element {
    margin-bottom: 3vh;
        font-size: 3rem;
}