.home-container {
    background-image: url("/src/styles/images/floating-islands-large.png");
    height: 50vh;
}

.home-donation-container {
    background-color: #96BA70;
}

.home-title-container{
    margin-bottom: 3vh;
    font-size:3rem;
}

.home-content-container:nth-child(odd) {
    background-color: #49A4D2;
}