.home-header-container {
    background-image: url("/src/styles/images/floating-islands-large.png");
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.home-header-content-container{
    flex-grow: 1;
    text-align: center;
}

.home-title-container{
    margin-bottom: 3vh;
    font-size:3rem;
    text-align: center;
}

.home-content-container:nth-child(odd) {
    background-color: #49A4D2;
}