.navbar {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 2.5vh;
}

.navbar ul {
    align-items: center;
    gap: 5vh;
}

.nav-default {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: var(--main-foreground-color);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1.5rem;
}

.nav-default:hover {
    background-color: #F6B6C2;
}

.nav-highlight {
    font-weight: 600;
    background-color: #F37671;
}

.nav-highlight:hover {
    scale: 1.1;
    background-color: #F37671;
}