@import url('./styles/colours.css');

.App {
  width: 100vw;
  height: 100vh;
  color: var(--main-foreground-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
}

nav ul li a {
  color: var(--main-foreground-color);
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
}